@font-face {
  font-family: yofont;
  src: url("/makemoney/images/iconfont/iconfont.woff") format("woff"), url("/makemoney/images/iconfont/iconfont.ttf") format("truetype");
}

@font-face {
  font-family: yofont;
  src: url("/makemoney/images/iconfont/iconfont-menu.woff") format("woff"), url("/makemoney/images/iconfont/iconfont-menu.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/makemoney/images/iconfont/iconfont-back.woff") format("woff"), url("/makemoney/images/iconfont/iconfont-back.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/makemoney/images/iconfont/iconfont-apps.woff") format("woff"), url("/makemoney/images/iconfont/iconfont-apps.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/makemoney/images/iconfont/iconfont-sort.woff") format("woff"), url("/makemoney/images/iconfont/iconfont-sort.ttf") format("truetype");
}
